In [8]:
#Exercise 1: Variables and Data Types
name = "Mahmoud Hosni";
age = 33;
height = 1.68;
pet = False;
print("My name is {0},i'm {1} years old , my height is {2}".format(name,age,height,));

My name is Mahmoud Hosni,i'm 33 years old , my height is 1.68

In [13]:
#Exercise 2: Conditional Statements
x = 20
y = 15
z = -23
if x<0 :
    print("Nagative Number")
elif x%2 ==0:    
    print("Even Number")
else: print("Odd Number")

Even Number

In [14]:
#Exercise 3: Loops
#Write a program that prints the numbers from 1 to 10 using a for loop
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [19]:
#Modify the program to print the even numbers from 2 to 20 using a for loop
for x in range(0,20,2):
    print(x)

0
2
4
6
8
10
12
14
16
18

In [22]:
#Write a while loop that counts down from 10 to 1 and then prints "Blastoff!"
x = 10
while x>=1 :
    print(x)
    x-=1;
print("Blastoff!")

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [25]:
#Exercise 4: Lists and Loops

#Create a list of your favorite fruits.
myFavouriteFruits=["Apple","Banana","Charry"]

#Use a for loop to print each fruit's name from the list
for x in myFavouriteFruits:
  print(x)

Apple
Banana
Charry